.btEnviar {
	cornerRadius: 5;
}

.closeButton {
upSkin: Embed("assets.swf#firefox_close_up");
downSkin: Embed("assets.swf#firefox_close_down");	
overSkin: Embed("assets.swf#firefox_close_over");
disabledSkin: Embed("assets.swf#firefox_close_disabled");		
}


.barraText{
   headerHeight: 0;
   borderStyle: solid;
   borderAlpha: 1;
   borderThickness: 2;
   roundedBottomCorners: true;
   backgroundColor: #ffffff;
   dropShadowEnabled: false;
   borderThicknessTop: 2;
   borderThicknessLeft: 0;
   borderThicknessBottom: 0;
   
}

.botonPestanaMarcada {
highlightAlphas: 0.52, 0.4;
fillAlphas: 1, 1;
 fillColors: #ffcc00, #ffcc66, #ffcc00, #ffff66;
backgroundColor: #ffffff;
borderColor: #999999;
color: #000000;
textRollOverColor: #000000;	
textAlign: "left";
indicatorClass: Embed("assets.swf#indicator");	
closeButtonStyleName: "closeButton";
}

.pestana {
hideEffect:fade;
}

.listPanel {
   borderStyle: solid;
   borderAlpha: 1;
   roundedBottomCorners: true;
   headerColors: #CBD5CC, #BFBFBF;
   backgroundColor: #ffffff;
   dropShadowEnabled: false;
   headerHeight: 27;
   borderThicknessLeft: 0;
   borderThicknessRight: 0;
}

.txtPanel {
   borderStyle: solid;
   borderAlpha: 1;
   borderThickness: 0;
   roundedBottomCorners: true;
   headerColors: #CBD5CC, #BFBFBF;
   backgroundColor: #ffffff;
   dropShadowEnabled: false; 
   headerHeight: 27;
}

.txtModulo {
   borderThicknessTop: 0;
   borderThicknessLeft: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
}

.listUsuarios {
   color: #000000;
   cornerRadius: 10;
   borderThickness: 0;
   backgroundColor: #ffffff;
   rollOverColor: #beffaa;
}



.firefoxLikeTabs {
highlightAlphas: 0.52, 0.4;
fillAlphas: 1, 1;
fillColors: #eceadb, #eceadb;
borderColor: #999999;
color: #000000;
textRollOverColor: #000000;	
textAlign: "left";
indicatorClass: Embed("assets.swf#indicator");	
closeButtonStyleName: "closeButton";
}

SuperTabNavigator {
popupButtonStyleName: "popupButton";
tabStyleName: "firefoxLikeTabs";
leftButtonStyleName: "leftButton";
rightButtonStyleName: "rightButton";
backgroundAlpha: 0;
buttonWidth:20px;
borderStyle: none;
paddingTop: 0px;
}

Alert{
	color : #124332;	
	background-color: #ffffff;
	header-colors : #243322, #243322;
	header-height:19;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :6;
	border-style :solid;
	border-thickness: 1;
	border-color : #243322;
	footer-colors : #243322, #ffffff;
	title-style-name : "title";
}

.barraText {
	background-color: #ffffff;
}


.app {
  backgroundColor: #ff6600;
 backgroundGradientAlphas: 0, 0;
}

Button {
	color:#000000;
	textRollOverColor:#000000;
	textSelectedColor:#000000;
	chromeColor:#e5e8e8;
}

.btIzq {
color:#FFFFFF;
cornerRadius:0;
paddingLeft: 0;
paddingLeft: 0;
paddingRight: 0;
paddingTop: 10;
paddingBottom: 10;
}



Text, Label {
	color:#000000;
	
}

.titleWindow {
 		borderColor:  #ff4500;
 		backgroundAlpha: 0.9;
}

.tit {
	backgroundGradientColors: #ff4500, #ff9900;
}

.txtMensajes {
		borderStyle: solid;
	    border-color: #FFFFFF;
}
