.closeButton {
upSkin: Embed("assets.swf#firefox_close_up");
downSkin: Embed("assets.swf#firefox_close_down");	
overSkin: Embed("assets.swf#firefox_close_over");
disabledSkin: Embed("assets.swf#firefox_close_disabled");	
}



LinkButton {
	rollOverColor: #ffcc00;
}

.redondo {
 cornerRadius: 20;
}

.negrita {
   cornerRadius: 5;
   paddingLeft: 0;
   paddingRight: 0;
}

.abajoCam {
   /*borderStyle: solid;*/
   headerHeight: 4;
   backgroundAlpha: 0;
   cornerRadius: 10;
   borderThicknessLeft: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
   borderThicknessRight: 1;
}

.txtTab {
   borderStyle: solid;
   borderAlpha: 1;
   borderThickness: 0;
   roundedBottomCorners: true;
   headerColors: #CBD5CC, #BFBFBF;
   dropShadowEnabled: false; 
   headerHeight: 24;
}

ColorPicker {
   previewHeight: 0;
   previewWidth: 0;
   swatchHeight: 23;
   swatchWidth: 23;
}

.firefoxLikeTabs {
highlightAlphas: 0.52, 0.4;
fillAlphas: 1, 1;
fillColors: #eceadb, #eceadb;
backgroundColor: #ffffff;
borderColor: #999999;
color: #000000;
buttonHeight:10px;
textRollOverColor: #000000;	
textAlign: "left";
indicatorClass: Embed("assets.swf#indicator");	
closeButtonStyleName: "closeButton";
}

SuperTabNavigator {
popupButtonStyleName: "popupButton";
tabStyleName: "firefoxLikeTabs";
leftButtonStyleName: "leftButton";
rightButtonStyleName: "rightButton";
buttonWidth:20px;
borderStyle: none;
}

.notificador {
   borderAlpha: 0.35;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   headerHeight: 10;
   	paddingLeft:0;
	paddingTop:0;
	paddingBottom:0;
	paddingRight:0;	
}

.camDer {
   borderThicknessLeft: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
   borderThicknessRight: 1;
   headerHeight: 15;
   dropShadowEnabled: false;
   	borderStyle: solid;
	paddingLeft:0;
	paddingTop:0;
	paddingBottom:0;
	paddingRight:0;	
	backgroundColor: #000000;
	backgroundAlpha: 0.4;
	borderAlpha: 0.5;
	headerColors: #CBD5CC, #BFBFBF;
}

.panelCam {
	borderStyle: solid;
	backgroundColor: #ffffff;
	backgroundAlpha: 0.4;
	borderAlpha: 0.5;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	roundedBottomCorners: true;   
	dropShadowEnabled: false; 
	headerHeight: 27;
}


.noBordes {
	borderStyle: none;
	paddingLeft:0;
	paddingTop:0;
	paddingBottom:0;
	paddingRight:0;	
}

.app {
borderStyle: none;
paddingLeft:0;
paddingTop:0;
paddingBottom:0;
paddingRight:0;	
}

.containerVBox {
borderThickness: 0;
paddingLeft: 0;
paddingRight: 0;
paddingTop: 0;
paddingBottom: 0;
}
.panelSin { 
   borderStyle: none;
   borderAlpha: 0;
   cornerRadius: 0;
   headerHeight: 0;
   backgroundAlpha: 0;
}
